.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 80%;
    margin: 2em auto;
}

.nav li {
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: black;

}

.nav-mob li:hover {
    border-bottom: 2px solid #F08080;
}

.nav-mob {
    display: none;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    margin: 2em auto;
}

.nav-mob li {
    cursor: pointer;
}

.nav-mob li a {
    text-decoration: none;
    color: black;

}

.nav li:hover {
    border-bottom: 2px solid #F08080;
}

.hideBars {
    display: none;
}

.gallary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.m-auto {
    margin: auto;
}

.card0 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.latest {
    display: inline-block;
    border-bottom: 3px solid #F08080;
}

.latestNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.newsbox {
    background-color: rgb(226, 226, 226);
}

.px-3 {
    padding: 0 3%;
}

img {
    border-radius: 5px;
    opacity: 1;
    filter: grayscale(0.1);
}

img:hover {
    opacity: 0.8;
    transition-duration: 0.5s;
}

.color-gray {
    color: gray;
}

.date {
    color: black;
    font-weight: bold;
}

.latestArticle {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.article {
    grid-column: 1/7;
    display: flex;
    width: 90%;
    border-top: 2px solid rgb(196, 196, 196);
    padding: 2%;
}

.advertistement {
    grid-column: 7/9;
    border: 2px solid black;
    grid-row: 1/4;
    display: grid;
    place-content: center;
}

.mt-5 {
    margin-top: 3%;
}

.latestStory {
    border-bottom: 2px solid rgb(196, 196, 196);
    border-top: 2px solid rgb(196, 196, 196);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.p-5 {
    padding: 10%;
}

.gallaryTitle {
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.gallaryTitle h1 a {
    color: black;
}

.card {
    position: relative;
}

.details {
    display: grid;
    width: 80%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.userDetails {
    display: flex;
    gap: 20px;
}

.recommend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 5em;
}

.btn-back {
    border: none;
    padding: 20px 50px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(242, 242, 159);
    border-radius: 10px;
}

.btn-back:hover {
    background-color: rgb(214, 214, 133);
    transition-duration: 1s;
}

.article a img {
    max-width: 500px;
}

.g-10 {
    gap: 10%;
}

.align-center {
    align-items: center;
}

.desc {
    font-size: 18px;
}

.hero-slider-wrapper {
    height: 50vh !important;
}

.sliderView {
    display: none;
}

.text-justify {
    text-align: justify;
}

.active {
    border-bottom: 3px solid #F08080;
}

.hideGallary {
    display: none;
}

.showSlider {
    display: block;
}

.index-module_Image__-UrHA {
    object-fit: fill !important;
    /* height: 900px !important; */
}

.hero-slider-wrapper {
    height: 70vh !important;
}

.index-module_Button__hkx4Z svg {
    opacity: 1.5;
}

.index-module_Button__Xnq8E {
    background: (--nav-color, rgba(200, 215, 235, 5.6))
}

.card1 .gallaryTitle h1 {
    font-size: 25px;
}

.card2 .gallaryTitle h1 {
    font-size: 25px;
}

.footerHeading {
    text-align: center;
    margin: 0px;
    padding-top: 1em;
    color: #fff;
    grid-column: 1/3;
}

.footer-links ul {
    list-style-type: none;
}

.footer-link-heading {
    padding-left: 40px;
    align-self: end;
    color: white;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    line-height: 2.2;
}
.footer-links ul li a:hover{
    text-decoration: underline;
}

.footer-heading {
    padding-left: 40px;
    align-self: end;
    color: white;
    cursor: default;
}

.footer {
    background-color: #213343;
    color: 'white';
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

.moreAction {
    position: absolute;
    top: 50%;
}

.moreAction h3 {
    padding: 10px;
    cursor: pointer;
}

.moreAction button {
    border: none;
    border-bottom: 2px solid #ff3070;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.p-relative {
    position: relative;
}

.footerData {
    grid-template-rows: 100px 1fr;
}

.d-grid {
    display: grid;
}

@media screen and (max-width:600px) {
    .gallary {
        grid-template-columns: repeat(1, 1fr);
    }

    .latestNews {
        grid-template-columns: repeat(1, 1fr);
    }

    .latestStory {
        grid-template-columns: repeat(1, 1fr);
    }

    .latestArticle {
        grid-template-columns: repeat(1, 1fr);
    }

    .advertistement {
        grid-column: 1/2;
    }

    .article {
        grid-column: 1/2;
        flex-direction: column;
    }

    .hero-slider-wrapper {
        height: 45vh !important;
    }

    .card0 {
        grid-column: 1/2;
    }

    .story {
        word-wrap: break-word;
    }

    .nav-mob {
        flex-direction: column;
        text-align: center;
        line-height: 2.5em;
        display: flex;
        position: absolute;
        top: 120px;
        z-index: 22;
        background-color: white;
        padding: 0%;
        transition-duration: 2s;
    }

    .nav {
        display: none;
    }

    .hideBars {
        display: flex;
    }

    .sliderView {
        display: block;
    }

    .gallaryView {
        display: none;
    }

    .recommend {
        grid-template-columns: repeat(1, 1fr);
    }

    .newsbox {
        height: max-content;
    }

    .detailsImage {
        height: 100%;
        width: 100%;
    }

    .d-block {
        display: block;
    }

    img {
        object-fit: fill !important;
    }

    .nav-mob li:hover {
        border-bottom: none;
    }

    .footerHeading {
        grid-column: 1/2;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .hideFooterLinks {
        display: none;
    }

    .footerData {
        grid-template-rows: 80px 1fr;
    }

    .footer-heading {
        text-align: center;
        padding: 0%;
        cursor: pointer;
    }

    .footer-links ul {
        padding: 0%;
        text-align: center;
    }

    .p-5 {
        padding: 0%;
    }
    .moreAction {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        position: static;
        top: 0%;
    }
}

@media screen and (min-width:600px) and (max-width:1025px) {
    .moreAction {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        position: static;
        top: 0%;
    }

    .sliderView {
        display: block !important;
    }

    .gallaryView {
        display: none;
    }

    .advertistement {
        grid-column: 1/9;
    }

    .article {
        grid-column: 1/9;
    }

    img {
        object-fit: fill !important;
        width: 100%;
    }

    .footerHeading img {
        width: 50%;
    }

    .footerImg {
        place-self: center;
    }

    .article a img {
        width: 200px;
    }

    .d-block {
        display: block;
    }
}